[submodule "oeis"]
	path = oeis
	url = git@github.com:purefn/oeis.git
[submodule "pontarius-xmpp"]
	path = pontarius-xmpp
	url = https://github.com/pontarius/pontarius-xmpp.git
[submodule "lambdabot-hipchat-plugins"]
	path = lambdabot-hipchat-plugins
	url = https://github.com/hiratara/lambdabot-hipchat-plugins.git
